.store{
  .container{
    
 
    .card{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      // padding-top: 30px;
      padding: 30px;
   
 
    }
     .movie-card{
     justify-content: space-between;
     
   }
    .bar{
      display: flex;
      justify-content: space-between;
      background-color: #000;
   
       
      .search-bar{
    
      border-radius: 10px;
      padding-left: 50px;
      }
    }
      
    }
   
  }

